export(fieldsim, midpoint, quadvar)

exportClasses(manifold,process)

export(setManifold,setProcess)

exportMethods("plot","print","show")

#getteurs class manifold
#exportMethods("getName", "getAtlas","getDistance","getOrigin")

#setteurs class manifold
exportMethods("setAtlas","setValues")

import("methods")  #show
import("graphics") #plot

import("rgl")
import("RColorBrewer")

